# Rectify the code in each cell and **explain the error in comments**

### index error

In [1]:
mylist=[14, "hello", 967]
mylist[0]
#len(mylist) < 6
#change 6 by 0 or 1 or 2

14

In [3]:
import pandas
import numpy
#module pandas and numpy must be in lower case

# syntax error

In [6]:
print("python errors")
#Missing parentheses in call to 'print'.
#print must be in lower case

python errors

# key error

In [13]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary[True]
# you must enter the key as True not 'True'

'hello'

# indentation error

In [14]:
i=14
while i<78:
  print(i)
  i+=1
#indented block after the while loop
#must be a programm in the while loop function

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

# StopIteration

In [15]:

it=iter([1,2,3])
next(it)
next(it)
next(it)
#next() function goes beyond the iterator items
#we must iterate as the len(it)

3

# TypeError

In [16]:
int('15')+15
#we can't add a string to an integer
#convert string to integer

30

# ValueError

In [19]:
int(5)
#we must enter a number in the parentheses of the int 
#int(integer)

5

# NameError

In [18]:
python = 5
python
#define python by the =

5

# ZeroDivisionError

In [21]:
x=19/19
x
#we can't devide by 0
#change the 0 by any number

1